@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: Poppins;
}

.home-header {
    margin: 0;
    padding-left: max(20px, 2vw);
    width: 96vw;
    height: max(70px, 10vh);
    background-color: white;
    display: flex;
    gap: 5px;
    align-items: center;
}

.header-logo {
    width: 75px;
    height: 75px;
}

.header-text {
    color: rgba(34, 128, 171, 1);
    font-weight: 400;
    font-size: 37px;
}

#site-body {
    width: max(600px, 100vw);
    height: max(350px, 90vh);
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./images/clouds-1923545_1280.png);
    background-size: cover;
}

#search-container {
    background-color: rgba(37, 149, 190, 0.709);
    padding: 25px;
    height: 225px;
    width: clamp(365px, 50vw, 500px);
    border-radius: 10px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#search-bar {
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    grid-row: 3 / 4;
    height: 40px;
    width: 300px;
    border-radius: 12px;
    border: 2px solid lightblue;
    font-family: 'Poppins';
}

#search-heading {
    margin-bottom: 0px;
    font-size: 25px;
    font-weight: bold;
    grid-row: 1 / 2;
    color: white;
    -webkit-text-stroke: 1px rgb(37, 150, 190);
}

#search-desc {
    font-style: italic;
    height: 45px;
    font-size: 14px;
    margin-top: 0px;
    margin-bottom: 0px;
    grid-row: 2 / 3;
    color: white;
    white-space: nowrap;
}

#search-bar:focus {
    outline: none;
}

#weather-container {
    background-color: rgba(37, 149, 190, 0.709);
    padding: 25px;
    height: clamp(260px, 40vw, 470px);
    width: clamp(520px, 80vw, 1000px);
    border-radius: 10px;
}

#current-weather-panel {

    width: 99%;
    height: 60%;
    background-color: white;
    border-radius: 10px;
    border-left: 8px solid #F4CE26;
}

#weekly-weather-container {
    margin-top: 20px;
    height: 35%;
    display: flex;
    gap: 22px;
}

.weather-panel {
    border-radius: 10px;
    width: max(80px, 18%);
    height: 100%;
    background-color: white;
    border-left: 8px solid #F4CE26;
}

.unit-toggle {
    position: absolute;
    top: 3%;
    right: 2%;
    width: 60px;
    height: 35px;
    background-color: rgb(37, 150, 190);
    border-radius: 16px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.toggle-button {
    font-size: 10px;
    margin-left: 4px;
    margin-right: 4px;
    border-radius: 50%;
    border-color: transparent;
    background-color: white;
    height: 28px;
    width: 28px;
}